* {
  box-sizing: border-box;
  margin: 0;
  cursor: none;
  --x-size: 7vw;
  color: rgb(220, 220, 220);
}

body {
  min-height: 99vh;
  font-family: "Michroma", sans-serif;
  background: linear-gradient(rgb(11, 10, 10), rgb(35, 27, 27));
  background-size: 100%;
}

a {
  text-decoration: none;
  transition: 300ms;
  color: darkgray;
  text-shadow: 1px 1px 0 #000, 1px 1px 2px #ca09e9, 0 0 2em blue, 0 0 1em blue;
  font-family: "Press Start 2P", cursive;
}
a:hover {
  text-shadow: 3px 3px 2px rgb(255, 0, 162), 10px 0px 3em blue, -10px 0 3em blue;
}

::-webkit-scrollbar {
  background-color: transparent;
  height: 15px;
}

::-webkit-scrollbar-thumb {
  background-image: radial-gradient(circle, #0f2b4f, #1a3a7a, #3e44a3, #6f4ac7, #a945e5, #b43ae7, #bf2ae8, #ca09e9, #a303d7, #7c00c5, #5400b1, #22009d);
  border-radius: 15px;
  border: 1px solid #116aae;
}

#cursor {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 5px dotted #f3a7ff;
  -webkit-animation: idle 3s linear 1ms infinite alternate;
          animation: idle 3s linear 1ms infinite alternate;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: top 0.5ms, left 0.5ms, height 1s, width 1s, border 500ms, border-radius 500ms;
  background-image: radial-gradient(circle, #0f2b4f, #1a3a7a, #3e44a3, #6f4ac7, #a945e5, #b43ae7, #bf2ae8, #ca09e9, #a303d7, #7c00c5, #5400b1, #22009d);
  z-index: 999;
  pointer-events: none;
}

.general-container:hover #cursor {
  opacity: 0.5;
}

.navbox:hover ~ #cursor {
  opacity: 0.75;
  filter: brightness(80%);
  border-radius: 0% 100% 35% 65%/0% 60% 40% 100%;
  border: 1px solid #ca09e9;
  -webkit-animation: none;
          animation: none;
  transform: translate(1%, 1%);
  -webkit-animation: sic 1s linear 1ms infinite alternate;
          animation: sic 1s linear 1ms infinite alternate;
}

@-webkit-keyframes idle {
  100% {
    transform: rotate(180deg) translate(50%, 50%) scale(1.1);
  }
}

@keyframes idle {
  100% {
    transform: rotate(180deg) translate(50%, 50%) scale(1.1);
  }
}
@-webkit-keyframes sic {
  0% {
    background-position: 4px 4px;
  }
  100% {
    background-position: -4px -4px;
  }
}
@keyframes sic {
  0% {
    background-position: 4px 4px;
  }
  100% {
    background-position: -4px -4px;
  }
}
.general-container {
  position: relative;
  min-height: 99vh;
  width: 100%;
  padding-top: 3vh;
  background: url(assets/img/map.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.layout-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(39px, 9999px, 25px, 0);
  }
  5% {
    clip: rect(93px, 9999px, 68px, 0);
  }
  10% {
    clip: rect(37px, 9999px, 22px, 0);
  }
  15% {
    clip: rect(100px, 9999px, 73px, 0);
  }
  20% {
    clip: rect(22px, 9999px, 38px, 0);
  }
  25% {
    clip: rect(69px, 9999px, 21px, 0);
  }
  30% {
    clip: rect(14px, 9999px, 54px, 0);
  }
  35% {
    clip: rect(85px, 9999px, 33px, 0);
  }
  40% {
    clip: rect(61px, 9999px, 4px, 0);
  }
  45% {
    clip: rect(60px, 9999px, 25px, 0);
  }
  50% {
    clip: rect(68px, 9999px, 27px, 0);
  }
  55% {
    clip: rect(100px, 9999px, 72px, 0);
  }
  60% {
    clip: rect(27px, 9999px, 85px, 0);
  }
  65% {
    clip: rect(26px, 9999px, 92px, 0);
  }
  70% {
    clip: rect(97px, 9999px, 86px, 0);
  }
  75% {
    clip: rect(14px, 9999px, 50px, 0);
  }
  80% {
    clip: rect(99px, 9999px, 63px, 0);
  }
  85% {
    clip: rect(100px, 9999px, 10px, 0);
  }
  90% {
    clip: rect(97px, 9999px, 82px, 0);
  }
  95% {
    clip: rect(97px, 9999px, 75px, 0);
  }
  100% {
    clip: rect(50px, 9999px, 91px, 0);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(39px, 9999px, 25px, 0);
  }
  5% {
    clip: rect(93px, 9999px, 68px, 0);
  }
  10% {
    clip: rect(37px, 9999px, 22px, 0);
  }
  15% {
    clip: rect(100px, 9999px, 73px, 0);
  }
  20% {
    clip: rect(22px, 9999px, 38px, 0);
  }
  25% {
    clip: rect(69px, 9999px, 21px, 0);
  }
  30% {
    clip: rect(14px, 9999px, 54px, 0);
  }
  35% {
    clip: rect(85px, 9999px, 33px, 0);
  }
  40% {
    clip: rect(61px, 9999px, 4px, 0);
  }
  45% {
    clip: rect(60px, 9999px, 25px, 0);
  }
  50% {
    clip: rect(68px, 9999px, 27px, 0);
  }
  55% {
    clip: rect(100px, 9999px, 72px, 0);
  }
  60% {
    clip: rect(27px, 9999px, 85px, 0);
  }
  65% {
    clip: rect(26px, 9999px, 92px, 0);
  }
  70% {
    clip: rect(97px, 9999px, 86px, 0);
  }
  75% {
    clip: rect(14px, 9999px, 50px, 0);
  }
  80% {
    clip: rect(99px, 9999px, 63px, 0);
  }
  85% {
    clip: rect(100px, 9999px, 10px, 0);
  }
  90% {
    clip: rect(97px, 9999px, 82px, 0);
  }
  95% {
    clip: rect(97px, 9999px, 75px, 0);
  }
  100% {
    clip: rect(50px, 9999px, 91px, 0);
  }
}
@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(61px, 9999px, 82px, 0);
  }
  5% {
    clip: rect(23px, 9999px, 41px, 0);
  }
  10% {
    clip: rect(23px, 9999px, 54px, 0);
  }
  15% {
    clip: rect(4px, 9999px, 93px, 0);
  }
  20% {
    clip: rect(98px, 9999px, 25px, 0);
  }
  25% {
    clip: rect(33px, 9999px, 2px, 0);
  }
  30% {
    clip: rect(45px, 9999px, 50px, 0);
  }
  35% {
    clip: rect(12px, 9999px, 31px, 0);
  }
  40% {
    clip: rect(100px, 9999px, 69px, 0);
  }
  45% {
    clip: rect(83px, 9999px, 63px, 0);
  }
  50% {
    clip: rect(66px, 9999px, 55px, 0);
  }
  55% {
    clip: rect(14px, 9999px, 57px, 0);
  }
  60% {
    clip: rect(81px, 9999px, 49px, 0);
  }
  65% {
    clip: rect(13px, 9999px, 62px, 0);
  }
  70% {
    clip: rect(90px, 9999px, 10px, 0);
  }
  75% {
    clip: rect(7px, 9999px, 22px, 0);
  }
  80% {
    clip: rect(97px, 9999px, 63px, 0);
  }
  85% {
    clip: rect(80px, 9999px, 68px, 0);
  }
  90% {
    clip: rect(60px, 9999px, 4px, 0);
  }
  95% {
    clip: rect(46px, 9999px, 96px, 0);
  }
  100% {
    clip: rect(100px, 9999px, 16px, 0);
  }
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(61px, 9999px, 82px, 0);
  }
  5% {
    clip: rect(23px, 9999px, 41px, 0);
  }
  10% {
    clip: rect(23px, 9999px, 54px, 0);
  }
  15% {
    clip: rect(4px, 9999px, 93px, 0);
  }
  20% {
    clip: rect(98px, 9999px, 25px, 0);
  }
  25% {
    clip: rect(33px, 9999px, 2px, 0);
  }
  30% {
    clip: rect(45px, 9999px, 50px, 0);
  }
  35% {
    clip: rect(12px, 9999px, 31px, 0);
  }
  40% {
    clip: rect(100px, 9999px, 69px, 0);
  }
  45% {
    clip: rect(83px, 9999px, 63px, 0);
  }
  50% {
    clip: rect(66px, 9999px, 55px, 0);
  }
  55% {
    clip: rect(14px, 9999px, 57px, 0);
  }
  60% {
    clip: rect(81px, 9999px, 49px, 0);
  }
  65% {
    clip: rect(13px, 9999px, 62px, 0);
  }
  70% {
    clip: rect(90px, 9999px, 10px, 0);
  }
  75% {
    clip: rect(7px, 9999px, 22px, 0);
  }
  80% {
    clip: rect(97px, 9999px, 63px, 0);
  }
  85% {
    clip: rect(80px, 9999px, 68px, 0);
  }
  90% {
    clip: rect(60px, 9999px, 4px, 0);
  }
  95% {
    clip: rect(46px, 9999px, 96px, 0);
  }
  100% {
    clip: rect(100px, 9999px, 16px, 0);
  }
}
.hero {
  width: clamp(500px, 75vw, 1200px);
  min-height: 300px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgba(24, 28, 111, 0.9215686275), rgba(50, 25, 109, 0.8941176471), rgba(67, 22, 107, 0.8941176471), rgba(81, 19, 104, 0.8470588235), rgba(93, 15, 100, 0.8941176471), rgba(102, 7, 89, 0.9176470588), rgba(109, 1, 80, 0.8941176471), rgba(113, 0, 72, 0.8941176471), rgba(113, 0, 55, 0.8745098039), rgba(110, 0, 38, 0.8941176471), rgba(104, 0, 23, 0.8941176471), rgba(96, 2, 2, 0.8941176471)), url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.2' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
@media (max-width: 969px) {
  .hero {
    width: 100%;
    flex-direction: row;
  }
  .hero h1 {
    padding: 4px;
    font-size: 4vw;
  }
  .hero a {
    font-size: max(2vw, 1rem);
  }
}
@media (max-width: 402px) {
  .hero {
    flex-wrap: wrap;
  }
}
.hero h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
  margin-bottom: 15px;
  text-shadow: 1px 1px 3px #22009d;
  position: relative;
}
.hero h1:after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  left: 3px;
  text-shadow: -1px 0 rgb(162, 0, 157);
  top: 4px;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}
.hero h1:before {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  left: 5px;
  text-shadow: 1px 0 rgb(61, 61, 188);
  top: 4px;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.about {
  width: clamp(600px, 75vw, 1200px);
}
@media (max-width: 630px) {
  .about {
    width: 93vw;
  }
}
.about p {
  font-size: 1.1rem;
  word-spacing: 10px;
  line-height: 160%;
  margin-bottom: 10px;
  text-shadow: -2px -2px 2px #7c00c5, 1px 1px 0px #000;
}
@media (max-width: 424px) {
  .about {
    width: auto;
  }
}

.navbox {
  width: 100%;
  max-width: 2000px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  --state: running;
}
.navbox span {
  text-decoration: none;
  transition: 300ms;
  color: darkgray;
  text-shadow: 1px 1px 0 #000, 1px 1px 2px #ca09e9, 0 0 2em blue, 0 0 1em blue;
  font-family: "Press Start 2P", cursive;
}
.navbox span:hover {
  text-shadow: 3px 3px 2px rgb(255, 0, 162), 10px 0px 3em blue, -10px 0 3em blue;
}
.navbox .link-box {
  flex-shrink: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 33vw;
  max-width: 300px;
  max-height: 300px;
  height: clamp(100px, 15vh, 200px);
  text-align: center;
  background: url(assets/img/grid-globe.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s;
  -webkit-animation: marquee 18s infinite var(--state) linear alternate;
          animation: marquee 18s infinite var(--state) linear alternate;
}
.navbox .link-box:hover {
  transition: 5s;
  border-radius: 68% 65% 45% 85%/63% 46% 84% 74%;
  -webkit-backdrop-filter: hue-rotate(720deg) blur(5px) brightness(110%);
          backdrop-filter: hue-rotate(720deg) blur(5px) brightness(110%);
  --state: paused;
}
.navbox .link-box:hover > span {
  transition: 1.5s;
  text-shadow: 1px 1px 5px black;
  -webkit-backdrop-filter: invert(50%);
          backdrop-filter: invert(50%);
}
.navbox .link-box:nth-child(2n):hover {
  border-radius: 69% 30% 60% 40%/54% 45% 55% 46%;
}
.navbox:hover {
  --state: paused;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-350%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-350%);
  }
}
@media (max-width: 630px) {
  .navbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .navbox .link-box {
    -webkit-animation: none;
            animation: none;
    width: auto;
  }
  .navbox .link-box.desktop {
    display: none;
  }
}
@media (max-width: 402px) {
  .navbox {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .navbox .link-box {
    height: 10vw;
    margin: 5px 0px;
  }
}
.vertical-wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 92vw;
  padding: 2vh 1vw;
  gap: clamp(8px, 1vw, 16px);
}
@media (max-width: 500px) {
  .vertical-wrapper {
    margin-top: 55px;
  }
}

.container {
  height: 100%;
  width: 100%;
  justify-content: space-between;
  flex-flow: row nowrap;
  display: flex;
}

.close-modal {
  height: 100%;
  width: auto;
  overflow: hidden;
  transition: 300ms;
  font-size: var(--x-size);
}
.close-modal:hover {
  -webkit-animation: closeModal 0.8s linear 1ms infinite alternate;
          animation: closeModal 0.8s linear 1ms infinite alternate;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  font-size: calc(var(--x-size) + 10px);
  color: rgb(255, 72, 0);
}
@media (max-width: 500px) {
  .close-modal {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100vw;
    height: 10vh;
    font-size: 3rem;
  }
}

.modal {
  display: none;
  position: absolute;
  overflow: auto;
  background-color: #111;
  -webkit-backdrop-filter: blur(2px) brightness(40%);
          backdrop-filter: blur(2px) brightness(40%);
  background-size: cover;
  filter: brightness(75%);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
}
.modal#education {
  background: url(assets/img/c-board.svg);
}
.modal#education:target {
  display: block;
}
.modal#education .image-container {
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  display: flex;
  gap: clamp(8px, 1vw, 16px);
  transition: 300ms;
  min-height: 250px;
}
.modal#education .image-container::before {
  content: "Drag to scroll";
  position: absolute;
  z-index: 998;
  bottom: 5px;
  left: 200px;
  color: #111;
  text-shadow: 2px 2px 5px #ddd;
}
.modal#education .image-container img {
  pointer-events: none;
  display: block;
  max-width: 100%;
  transition: 300ms;
  mix-blend-mode: hard-light;
}
.modal#education .image-container img:hover {
  mix-blend-mode: initial;
}
.modal#education h3 {
  margin-top: 15px;
}
.modal#education span {
  position: relative;
  white-space: nowrap;
}
.modal#education span::before {
  content: " ";
  background: linear-gradient(to right, #570008, #6c0c37, #6e2c67, #584c91, #116aae);
  position: absolute;
  height: 0.2rem;
  bottom: -5px;
  left: 0;
  -webkit-animation: progress 1.5s linear 1ms infinite;
          animation: progress 1.5s linear 1ms infinite;
}
.modal#experience {
  background: url(assets/img/c-board.svg);
}
.modal#experience:target {
  display: block;
}
@media (max-width: 500px) {
  .modal#experience .vertical-wrapper {
    overflow: hidden;
  }
}
.modal#experience img {
  margin-top: 15px;
}
@media (max-width: 768px) {
  .modal#experience img {
    width: 80vw;
    min-width: 450px;
    height: auto;
    overflow: hidden;
  }
}
.modal#skills {
  background: url(assets/img/tile.svg);
}
.modal#skills:target {
  display: block;
}
.modal#skills .vertical-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-content: space-evenly;
}
@media (max-width: 768px), (max-height: 910px) {
  .modal#skills .vertical-wrapper {
    display: flex;
  }
  .modal#skills .vertical-wrapper h2 {
    margin-bottom: 15px;
  }
}
@media (max-width: 500px) {
  .modal#skills .vertical-wrapper {
    margin-top: 55px;
  }
}
.modal#skills .comment {
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px #111;
}
.modal#skills .name {
  position: relative;
}
@media (max-width: 768px) {
  .modal#skills .name {
    align-self: flex-start;
    margin-bottom: 8px;
  }
}
.modal#skills .name:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -30px;
  height: 20px;
  width: var(--progress);
  border-radius: 10px;
}
@media (max-width: 768px) {
  .modal#skills .name:before {
    bottom: -10px;
    height: 10px;
  }
}
.modal#skills .name.ehtml:before {
  --progress: 85vw;
  background-image: linear-gradient(to right, #8e0c00, #912400, #933400, #954200, #974e00, #935900, #8f6300, #8a6c00, #7c7600, #688000, #4b8900, #039215);
}
.modal#skills .name.css:before {
  --progress: 80vw;
  background-image: linear-gradient(to right, #8e0c00, #912400, #933400, #954200, #974e00, #935900, #8f6300, #8a6c00, #7c7600, #688000, #4b8900);
}
.modal#skills .name.js:before {
  --progress: 23vw;
  background-image: linear-gradient(to right, #8e0c00, #912400, #933400, #954200, #974e00, #935900, #8f6300);
}
.modal#skills .name.jsf:before {
  --progress: 10vw;
  background-image: linear-gradient(to right, #8e0c00, #912400, #933400, #954200);
}
.modal#skills .name.adresp:before {
  --progress: 78vw;
  background-image: linear-gradient(to right, #8e0c00, #912400, #933400, #954200, #974e00, #935900, #8f6300, #8a6c00, #7c7600, #688000, #4b8900);
}
.modal#skills .name.git:before {
  --progress: 55vw;
  background-image: linear-gradient(to right, #8e0c00, #912400, #933400, #954200, #974e00, #935900, #8f6300, #8a6c00, #7c7600, #688000);
}
.modal#skills .name.figma:before {
  --progress: 42vw;
  background-image: linear-gradient(to right, #8e0c00, #912400, #933400, #954200, #974e00, #935900, #8f6300, #8a6c00);
}
.modal#contact {
  background: url(assets/img/tile.svg);
}
.modal#contact:target {
  display: block;
}
.modal#contact img {
  align-self: center;
  width: clamp(200px, 60%, 600px);
  height: auto;
  border: 2px solid #83144F;
  border-radius: 25px;
  -webkit-animation: wander 60s ease-in 1ms infinite alternate;
          animation: wander 60s ease-in 1ms infinite alternate;
  --where: 10vw, 5vh;
  --size: 1.2;
}
@media (max-width: 600px) {
  .modal#contact img {
    width: 80%;
    filter: opacity(0.9);
    -webkit-animation: none;
            animation: none;
  }
}
.modal#contact h3 {
  z-index: 999;
  -webkit-animation: wander 40s ease-in 1ms infinite alternate;
          animation: wander 40s ease-in 1ms infinite alternate;
  --where: 50vw, 0;
  --size: 1.0;
}
@media (max-width: 600px) {
  .modal#contact h3 {
    -webkit-animation: none;
            animation: none;
  }
}
.modal#contact .info {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-animation: wander 60s ease-in 1ms infinite alternate, brownian 85s linear 1ms infinite alternate;
          animation: wander 60s ease-in 1ms infinite alternate, brownian 85s linear 1ms infinite alternate;
  --where: 1vw, 10vh;
  --size: 1.0;
}
@media (max-width: 600px) {
  .modal#contact .info {
    -webkit-animation: none;
            animation: none;
  }
}

@-webkit-keyframes progress {
  from {
    width: 25%;
  }
  to {
    width: 100%;
  }
}

@keyframes progress {
  from {
    width: 25%;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes wander {
  100% {
    transform: scale(var(--size)) translate(var(--where));
  }
}
@keyframes wander {
  100% {
    transform: scale(var(--size)) translate(var(--where));
  }
}
@-webkit-keyframes brownian {
  to {
    letter-spacing: 1.1vw;
  }
}
@keyframes brownian {
  to {
    letter-spacing: 1.1vw;
  }
}
@-webkit-keyframes closeModal {
  from {
    text-shadow: 1px 1px 5px rgba(186, 0, 0, 0.738), -1px -1px 5px rgba(186, 0, 0, 0.738), -1px 1px 5px rgba(186, 0, 0, 0.738), 1px -1px 5px rgba(186, 0, 0, 0.738);
  }
  to {
    text-shadow: 4px 4px 10px rgba(255, 0, 0, 0.738), -4px -4px 10px rgba(255, 0, 0, 0.738), -4px 4px 10px rgba(255, 0, 0, 0.738), 4px -4px 10px rgba(255, 0, 0, 0.738);
  }
}
@keyframes closeModal {
  from {
    text-shadow: 1px 1px 5px rgba(186, 0, 0, 0.738), -1px -1px 5px rgba(186, 0, 0, 0.738), -1px 1px 5px rgba(186, 0, 0, 0.738), 1px -1px 5px rgba(186, 0, 0, 0.738);
  }
  to {
    text-shadow: 4px 4px 10px rgba(255, 0, 0, 0.738), -4px -4px 10px rgba(255, 0, 0, 0.738), -4px 4px 10px rgba(255, 0, 0, 0.738), 4px -4px 10px rgba(255, 0, 0, 0.738);
  }
}
.personal {
  position: relative;
  width: clamp(500px, 70vw, 1000px);
}
@media (max-width: 969px) {
  .personal {
    width: 93vw;
  }
}

.seemore {
  position: absolute;
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.5s ease;
  overflow: hidden;
}
.seemore p {
  font-size: 1.1rem;
  word-spacing: 10px;
  line-height: 160%;
  margin-bottom: 20px;
  padding: 15px;
  text-shadow: 1px 1px 0px #000;
}
.seemore p:last-of-type {
  margin: 0;
}
@media (max-width: 500px) {
  .seemore p {
    font-size: 0.8rem;
  }
}

.more-state {
  display: none;
}

.more-label {
  display: block;
  margin-inline: auto;
  margin-bottom: 10px;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 0.5em;
  font-size: 0.9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
@media (max-width: 630px) {
  .more-label {
    width: 93vw;
    text-align: center;
  }
}

.more-state ~ .more-label::before {
  content: "How did I get here?";
}

.more-state:checked ~ .more-label::before {
  font-size: 1.4rem;
  content: "Click here to hide";
}

.personal:has(.more-state:checked) {
  position: absolute;
  top: 5vh;
  width: clamp(500px, 75vw, 1200px);
}
@media (max-width: 500px) {
  .personal:has(.more-state:checked) {
    top: 3vh;
    width: 90vw;
  }
}

.more-state:checked ~ .seemore {
  opacity: 1;
  font-size: inherit;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  background-color: #111;
  border: 3px solid #5400b1;
  box-shadow: 0px -4px 5px #ca09e9;
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */