//TODO
//make marquee endless
//There are two types of modal windows: with links+:target and with checkbox. Maybe choose one?

* {
    box-sizing: border-box;
    margin: 0;
    cursor: none;
    //outline: 1px dotted red;
    --x-size: 7vw;
    color: rgb(220, 220, 220);
}

body {
    min-height: 99vh;
    font-family: 'Michroma', sans-serif;

    background:
    linear-gradient(rgb(11, 10, 10), rgb(35, 27, 27));
    background-size: 100%;
}
a{
    text-decoration: none;
    transition: 300ms;
    color: darkgray;
    text-shadow: 1px 1px 0 #000, 1px 1px 2px #ca09e9, 0 0 2em blue, 0 0 1em blue;

    font-family: 'Press Start 2P', cursive;
    &:hover{
        text-shadow: 3px 3px 2px rgb(255, 0, 162), 10px 0px 3em blue, -10px 0 3em blue;
    }
}
::-webkit-scrollbar{
    background-color: transparent;
    height: 15px;

}
::-webkit-scrollbar-thumb{
    background-image: radial-gradient(circle, #0f2b4f, #1a3a7a, #3e44a3, #6f4ac7, #a945e5, #b43ae7, #bf2ae8, #ca09e9, #a303d7, #7c00c5, #5400b1, #22009d);
    border-radius: 15px;
    border: 1px solid #116aae;
}

//cursor styling

#cursor {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 5px dotted #f3a7ff;
    animation: idle 3s linear 1ms infinite alternate;

    opacity: 0;

    transform: translate(-50%, -50%);
    transition: top .5ms, left .5ms, height 1s, width 1s, border 500ms, border-radius 500ms;
    background-image: radial-gradient(circle, #0f2b4f, #1a3a7a, #3e44a3, #6f4ac7, #a945e5, #b43ae7, #bf2ae8, #ca09e9, #a303d7, #7c00c5, #5400b1, #22009d);

    z-index: 999;
    pointer-events: none;
}
.general-container:hover #cursor {
    opacity: 0.5;
}
.navbox:hover ~ #cursor {
    opacity: 0.75;
    filter: brightness(80%);
    border-radius: 0% 100% 35% 65% / 0% 60% 40% 100%;
    border: 1px solid #ca09e9;
    animation: none;
    transform: translate(1%, 1%);
    animation: sic 1s linear 1ms infinite alternate;
}

@keyframes idle {
    100% {
    transform: rotate(180deg) translate(50%, 50%) scale(1.1);
    }
}
@keyframes sic {
    0% {
        background-position: 4px 4px;
    }
    100% {
        background-position: -4px -4px;
    }
}

// HTML flow

.general-container{
    position: relative;
    min-height: 99vh;
    width: 100%;
    padding-top: 3vh;
    background:
    url(assets/img/map.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.layout-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@keyframes noise-anim{
    $steps:20;
    @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
        }
    }
}
@keyframes noise-anim-2{
    $steps:20;
    @for $i from 0 through $steps{
        #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
        }
    }
}

.hero {
    width: clamp(500px, 75vw, 1200px);

    @media (max-width: 969px) {
        width: 100%;
        flex-direction: row;
        h1{
            padding: 4px;
            font-size: 4vw;
        }
        a{
            font-size: max(2vw, 1rem);
        }
    }
    @media (max-width: 402px){
        flex-wrap: wrap;
    }
    min-height: 300px;
    padding: 5px;
    border-radius: 5px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background:
        linear-gradient(to top, #181c6feb, #32196de4, #43166be4, #511368d8, #5d0f64e4, #660759ea, #6d0150e4, #710048e4, #710037df, #6e0026e4, #680017e4, #600202e4),
	    url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.2' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    margin-bottom: 15px;
    text-shadow: 1px 1px 3px #22009d;
    position: relative;
    &:after{
        content:attr(data-text);
        position:absolute;
        width: 100%;
        left: 3px;
        text-shadow:-1px 0 rgb(162, 0, 157);
        top:4px;
        background:transparent;
        overflow:hidden;
        clip:rect(0,900px,0,0);
        animation:noise-anim 2s infinite linear alternate-reverse;
    }
    &:before{
        content:attr(data-text);
        position:absolute;
        width: 100%;
        left: 5px;
        text-shadow: 1px 0 rgb(61, 61, 188);
        top:4px;
        background:transparent;
        overflow:hidden;
        clip:rect(0,900px,0,0);
        animation:noise-anim-2 3s infinite linear alternate-reverse;
    }
    }
}
.about {
    width: clamp(600px, 75vw, 1200px);
    @media (max-width: 630px) {
    width: 93vw;
    }

    p {
        font-size: 1.1rem;
        word-spacing: 10px;
        line-height: 160%;
        margin-bottom: 10px;

        text-shadow: -2px -2px 2px #7c00c5, 1px 1px 0px #000;
    }
    @media (max-width: 424px){
        width: auto;
    }
}
.navbox {
    width: 100%;
    max-width: 2000px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    --state: running;
    span {
    text-decoration: none;
    transition: 300ms;
    color: darkgray;
    text-shadow: 1px 1px 0 #000, 1px 1px 2px #ca09e9, 0 0 2em blue, 0 0 1em blue;
    font-family: 'Press Start 2P', cursive;
    &:hover{
        text-shadow: 3px 3px 2px rgb(255, 0, 162), 10px 0px 3em blue, -10px 0 3em blue;
    }
    }
    .link-box {
        flex-shrink: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 33vw;
        max-width: 300px;
        max-height: 300px;
        height: clamp(100px, 15vh, 200px);
        text-align: center;
        background: url(assets/img/grid-globe.svg);
        background-position: center;
        background-repeat: no-repeat;
        transition: 1s;
        animation: marquee 18s infinite var(--state) linear alternate;
        &:hover {
            transition: 5s;
            border-radius: 68% 65% 45% 85% / 63% 46% 84% 74%;
            backdrop-filter: hue-rotate(720deg) blur(5px) brightness(110%);
            --state: paused;
            & > span{
                transition: 1.5s;
                text-shadow: 1px 1px 5px black;
                backdrop-filter: invert(50%);
            }
        }
        &:nth-child(2n):hover {
            border-radius: 69% 30% 60% 40% / 54% 45% 55% 46%;
        }
    }
    &:hover {
        --state: paused;
    }
}
@keyframes marquee{
    0% {transform:translateX(0);
    }
    100% {transform:translateX(-350%);
    }
}
@media (max-width: 630px) {
    .navbox{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .link-box {
            animation: none;
            width: auto;
            }
            .link-box.desktop {
                display: none;
            }
    }
}
@media (max-width: 402px){
    .navbox{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        .link-box{
            height: 10vw;
            margin: 5px 0px;
        }
    }
}

//modals
.vertical-wrapper{
    display: flex;
    flex-flow: column nowrap;
    width: 92vw;
    padding: 2vh 1vw;
    gap: clamp(8px, 1vw, 16px);
    @media (max-width: 500px) {
        margin-top: 55px;
    }
}
.container{
    height: 100%;
    width: 100%;
    justify-content: space-between;
    flex-flow: row nowrap;
    display: flex;
}
.close-modal{
    height: 100%;
    width: auto;
    overflow: hidden;
    transition: 300ms;

    font-size: var(--x-size);
    &:hover {
        animation: closeModal .8s linear 1ms infinite alternate;
        backdrop-filter: blur(10px);
        font-size: calc(var(--x-size) + 10px);
        color: rgb(255, 72, 0);
    }
    @media (max-width: 500px) {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100vw;
    height: 10vh;
    font-size: 3rem;
    }
}
.modal {
    display: none;
    position: absolute;
    overflow: auto;
    background-color: #111;
    backdrop-filter: blur(2px) brightness(40%);
    background-size: cover;
    filter: brightness(75%);

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    z-index: 998;
    &#education{
        background: url(assets/img/c-board.svg);

        &:target{display: block;}
        .image-container{
            overflow-x: scroll;
            overflow-y: hidden;
            position: relative;
            display: flex;
            gap: clamp(8px, 1vw, 16px);
            transition: 300ms;
            min-height: 250px;
            &::before{
                content: 'Drag to scroll';
                position: absolute;
                z-index: 998;
                bottom: 5px;
                left: 200px;
                color:#111;
                text-shadow: 2px 2px 5px#ddd;

            }
            img {
                pointer-events: none;
                display: block;
                max-width: 100%;
                transition: 300ms;
                mix-blend-mode: hard-light;
                &:hover{
                    mix-blend-mode: initial;
                }
            }
        }
        h3{
            margin-top: 15px;
        }
        span {
            position: relative;
            white-space: nowrap;
        }
        span::before{
            content: " ";
            background: linear-gradient(to right, #570008, #6c0c37, #6e2c67, #584c91, #116aae);
            position: absolute;
            height: 0.2rem;
            bottom: -5px;
            left: 0;
            animation: progress 1.5s linear 1ms infinite;
        }
    }
    &#experience{
        background: url(assets/img/c-board.svg);

        &:target{display: block;}
        .vertical-wrapper {
            @media (max-width: 500px) {
                overflow: hidden;
            }
        }
        img {
            margin-top: 15px;
            @media (max-width: 768px) {
                width: 80vw;
                min-width: 450px;
                height: auto;
                overflow: hidden;
            }
        }
    }
    &#skills{
    background: url(assets/img/tile.svg);

    &:target{display: block;}
    .vertical-wrapper{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-content: space-evenly;
        @media (max-width: 768px), (max-height: 910px) {
            display: flex;
            h2 {
                margin-bottom: 15px;
            }
        }
        @media (max-width: 500px) {
            margin-top: 55px;
        }
    }
    .comment{

        letter-spacing: 3px;
        text-shadow: 2px 2px 5px #111;
    }
    .name {
        position: relative;

        @media (max-width: 768px) {
            align-self: flex-start;
            margin-bottom: 8px;
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -30px;
            height: 20px;
            width: var(--progress);
            border-radius: 10px;
            @media (max-width: 768px) {
                bottom: -10px;
                height: 10px;
            }
        }
        &.ehtml:before{
            --progress: 85vw;
            background-image: linear-gradient(to right, #8e0c00, #912400, #933400, #954200, #974e00, #935900, #8f6300, #8a6c00, #7c7600, #688000, #4b8900, #039215);

        }
        &.css:before{
            --progress: 80vw;
            background-image: linear-gradient(to right, #8e0c00, #912400, #933400, #954200, #974e00, #935900, #8f6300, #8a6c00, #7c7600, #688000, #4b8900);

        }
        &.js:before{
            --progress: 23vw;
            background-image: linear-gradient(to right, #8e0c00, #912400, #933400, #954200, #974e00, #935900, #8f6300);

        }
        &.jsf:before{
            --progress: 10vw;
            background-image: linear-gradient(to right, #8e0c00, #912400, #933400, #954200);

        }
        &.adresp:before{
            --progress: 78vw;
            background-image: linear-gradient(to right, #8e0c00, #912400, #933400, #954200, #974e00, #935900, #8f6300, #8a6c00, #7c7600, #688000, #4b8900);

        }
        &.git:before{
            --progress: 55vw;
            background-image: linear-gradient(to right, #8e0c00, #912400, #933400, #954200, #974e00, #935900, #8f6300, #8a6c00, #7c7600, #688000);

        }
        &.figma:before{
            --progress: 42vw;
            background-image: linear-gradient(to right, #8e0c00, #912400, #933400, #954200, #974e00, #935900, #8f6300, #8a6c00);

        }
    }

}

    &#contact{
        background: url(assets/img/tile.svg);


        &:target{display: block;}
        img{
            align-self: center;
            width: clamp(200px, 60%, 600px);
            height: auto;
            border: 2px solid #83144F;
            border-radius: 25px;
            animation: wander 60s ease-in 1ms infinite alternate;
            --where: 10vw, 5vh;
            --size: 1.2;
            @media (max-width: 600px) {
                width: 80%;
                filter: opacity(0.9);
                animation: none;
            }
        }

        h3 {
            z-index: 999;
            animation: wander 40s ease-in 1ms infinite alternate;
            --where: 50vw, 0;
            --size: 1.0;
            @media (max-width: 600px) {
                animation: none;
            }
        }
        .info {
            width: fit-content;
            animation: wander 60s ease-in 1ms infinite alternate, brownian 85s linear 1ms infinite alternate;
            --where: 1vw, 10vh;
            --size: 1.0;
            @media (max-width: 600px) {
                animation: none;
            }
        }
    }
}
@keyframes progress {
    from {width: 25%;}
    to {width: 100%;}
}
@keyframes wander {
    100% {
        transform: scale(var(--size)) translate(var(--where));
    }
}
@keyframes brownian {
    to {letter-spacing: 1.1vw;}
}
@keyframes closeModal {
    from {
        text-shadow: 1px 1px 5px rgba(186, 0, 0, 0.738), -1px -1px 5px rgba(186, 0, 0, 0.738), -1px 1px 5px rgba(186, 0, 0, 0.738), 1px -1px 5px rgba(186, 0, 0, 0.738);
    }
    to {
        text-shadow: 4px 4px 10px rgba(255, 0, 0, 0.738), -4px -4px 10px rgba(255, 0, 0, 0.738), -4px 4px 10px rgba(255, 0, 0, 0.738), 4px -4px 10px rgba(255, 0, 0, 0.738);
    }
}
//see more functionality

.personal {
    position: relative;
    width: clamp(500px, 70vw, 1000px);
    @media (max-width: 969px) {
    width: 93vw;
    }
}
.seemore {
    position: absolute;
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .5s ease;
    overflow: hidden;
    p {
        font-size: 1.1rem;
        word-spacing: 10px;
        line-height: 160%;
        margin-bottom: 20px;
        padding: 15px;
        text-shadow: 1px 1px 0px #000;
        &:last-of-type {
            margin: 0;
        }
        @media (max-width: 500px) {
            font-size: 0.8rem;
            }
    }
}
.more-state {
    display: none;
}
.more-label {
    display: block;
    margin-inline: auto;
    margin-bottom: 10px;
    position: relative;
    width: max-content;
    padding: 0 .5em;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: 5px;
    backdrop-filter: blur(8px);
    @media (max-width: 630px) {
        width: 93vw;
        text-align: center;
    }
}
.more-state ~ .more-label::before {
    content: 'How did I get here?';
}
.more-state:checked ~ .more-label::before {
    font-size: 1.4rem;
    content: 'Click here to hide';
}
.personal:has(.more-state:checked){
    position: absolute;
    top: 5vh;

    width: clamp(500px, 75vw, 1200px);
    @media (max-width: 500px) {
        top: 3vh;
        width: 90vw;
    }
}
.more-state:checked ~ .seemore {

    opacity: 1;
    font-size: inherit;
    max-height: fit-content;
    background-color: #111;
    border: 3px solid #5400b1;
    box-shadow: 0px -4px 5px #ca09e9;
    border-radius: 5px;

}
//end see more functionality
