a {
	position: relative;
	font-family: 'Press Start 2P';
	text-decoration: unset;
	color: var(--text-primary);
}
a ::after {
	content: '';
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: var(--accent-color);
}

.top-banner {
	position: fixed;
	top: 0;
	right: 0;
	padding: 8px;
	background: var(--banner-bg);
	border-radius: 0 0 0 8px;
	border: 2px solid var(--banner-border);
	color: var(--text-primary);
}

main {
	margin-left: 20px;
	transition: margin-left 0.3s ease;

	@media (min-width: 768px) {
		margin-left: 200px;
	}
}

aside {
	> .quick-actions {
		padding: 4px;
		display: flex;
		justify-content: space-around;
	}
	&.nav {
		position: fixed;
		display: flex;
		flex-direction: column;
		left: 0px;
		width: 20px;
		height: 100vh;
		background: var(--nav-gradient),
			url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.2' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
		font-family: 'Press Start 2P';
		color: var(--text-primary);
		transition: width 0.3s ease;
		overflow: hidden;

		&:hover,
		&:focus-within,
		&.expanded {
			width: 200px;
		}

		@media (min-width: 768px) {
			width: 200px;
		}
	}
	&.projects {
		right: 0px;
	}
}
